@charset "UTF-8";
*{ 
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image:linear-gradient(to right, #A6B4E6, #D9A7EB) ;
    
}

main{
    background-color: #ffffff;
    border-radius: 10px ;
    box-shadow: 5px 5px 15px #270e30a9; 
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color:#D9A7EB ;
    text-align: center;
    text-shadow: 1px 1px 2px #2b0f35b0;
}

h2{
    color: #F4A9A0;
}

p{
text-align: justify;
}